@use "sass:color";
@use "../bootstrap/functions" as *;
@use "../bootstrap/mixins" as *;
@use "variables" as *;
@use "layout" as *;
@use "utils-mixins" as *;
/* ========================================================================
     Component: slim-scroll
 ========================================================================== */

$slim-scroll-bar-bg : color.adjust(#000, $alpha: -0.65);
$slim-scroll-rail-bg : color.adjust(#000, $alpha: -0.85);

// New scrollable element
scrollable {
    display: block;
}

// Important to override js inline styles
.slimScrollBar {
    opacity: 1 !important;
    background-color: $slim-scroll-bar-bg !important;
    border: 0 !important;
    border-radius: 1px !important;
}

.slimScrollRail {
    opacity: 1 !important;
    background-color: $slim-scroll-rail-bg !important;
    border: 0 !important;
    border-radius: 0 !important;
    bottom: 0;
}
