<h1 mat-dialog-title>{{ 'log-entry.ExerciseDuration' | translate }}</h1>
<label>{{ 'log-entry.DurationDialogDescription' | translate }}:</label>
<div mat-dialog-actions>
    <timepicker [ngModel]="durationValue" aria-invalid="false" [showMeridian]="false" [showSpinners]="true"
        [showSeconds]="true" [hoursPlaceholder]="'hh'" [minutesPlaceholder]="'mm'" [secondsPlaceholder]="'ss'"
        (ngModelChange)="onDurationChange($event)"></timepicker>
</div>
<br>
<div class="button-container">
    <button mat-button class="btn-primary" (click)="_dialogRef.close(currentExercise)">{{ 'global.OkLabel' | translate
        }}</button>
</div>