@import '../../../shared/styles/common.scss';

#exercise-btns {
  margin-left: 2em;
}

.container {
    padding-top: 15px;
}

.first-fg {
    margin-left: 10px;
}

.btn-row-close {
    float: right;
}

.btn-row-close:focus, .btn-row-close:active {
    color: #ff6358;
}

.fa-window-close {
    margin-right: 15px;
    margin-top: 25px;
    font-size: 25px;
}

.fa-window-close:hover, .fa-window-close:focus, .fa-window-close:active {
    color: #ff6358;
}

.first-col-cv,
.second-col-cv {
    margin-top: 1em;
}

.duration-label {
    font-size: 12px;
    margin-bottom: 0;
}

.duration-display-label {
    display: block;
}

mat-form-field {
    display: block;
}

table {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .close-btn-cv {
        margin-left: 2.5em;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .first-col-cv {
        max-width: 27%;
    }
    .col-2 { 
        max-width: 14%;
    }
}

@media only screen and (max-width: 812px) {
    /* phones */

}

