@import '../../../shared/styles/common.scss';

#exercise-btns {
  margin-left: 2em;
}

.container {
    padding-top: 15px;
}

.first-fg {
    margin-left: 10px;
}

.btn-row-close {
    float: right;
}

.btn-row-close:focus, .btn-row-close:active {
    color: #ff6358;
}

.fa-window-close {
    margin-right: 15px;
    margin-top: 25px;
    font-size: 25px;
}

.fa-window-close:hover, .fa-window-close:focus, .fa-window-close:active {
    color: #ff6358;
}

.duration-label {
    font-size: 12px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    mat-form-field {
        width: 30%;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .first-col-cv {
        max-width: 24.33333%;
    }
}

