<div class="content-heading">
    <div>{{ 'log-entry.AddExercise' | translate }}</div>
    <div id="exercise-btns">
        <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="addExerciseFormControl()">+ <em class="fa fa-dumbbell"></em></button>
        <button class="mb-1 mr-1 btn btn-primary" type="button">+ <em class="fa fa-running"></em></button>
    </div>
</div>
<div class="container-lg">
    <form [formGroup]="simpleLogForm" class="form-validate" (submit)="submitForm($event, simpleLogForm.value)"
        novalidate="">
        <div class="md-card">
            <div class="container">
                <div class="row" *ngFor="let exercise of currentLog.exercises; let i = index">
                    <div class="col-4">
                        <div class="mda-form-group float-label first-fg">
                            <input class="mda-form-control" name="{{ exercise.formControlNames.get('name') }}" formControlName="{{ exercise.formControlNames.get('name') }}" tabindex="0" aria-invalid="false" />
                            <label>Exercise</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mda-form-group float-label">
                            <input class="mda-form-control" name="{{ exercise.formControlNames.get('sets') }}" formControlName="{{ exercise.formControlNames.get('sets') }}" tabindex="0" aria-invalid="false" />
                            <label>Sets</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mda-form-group float-label">
                            <input class="mda-form-control" name="{{ exercise.formControlNames.get('reps') }}" formControlName="{{ exercise.formControlNames.get('reps') }}" tabindex="0" aria-invalid="false" />
                            <label>Reps</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mda-form-group float-label">
                            <input class="mda-form-control" name="{{ exercise.formControlNames.get('weight') }}" formControlName="{{ exercise.formControlNames.get('weight') }}" tabindex="0" aria-invalid="false" />
                            <label>Weight</label>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn-transparent btn-row-close">
                            <em class="far fa-window-close"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>