<div class="content-heading">
    <div>{{ 'log-entry.AddExercise' | translate }}</div>
    <div id="exercise-btns">
        <button class="mb-1 mr-1 btn btn-primary" type="button">+ <em class="fa fa-dumbbell"></em></button>
        <button class="mb-1 mr-1 btn btn-primary" type="button">+ <em class="fa fa-running"></em></button>
    </div>
</div>
<div class="container-lg">
    <form [formGroup]="simpleLogForm" class="form-validate" (submit)="submitForm($event, simpleLogForm.value)"
        novalidate="">
        <div class="md-card">
            <div class="row">
                <div class="col-md-6">
                    <div class="mda-form-group float-label">
                        <input class="mda-form-control" name="exercise" tabindex="0" aria-invalid="false" />
                        <label>Exercise</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mda-form-group float-label">
                        <input class="mda-form-control" name="sets" tabindex="0" aria-invalid="false" />
                        <label>Sets</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mda-form-group float-label">
                        <input class="mda-form-control" name="reps" tabindex="0" aria-invalid="false" />
                        <label>Reps</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mda-form-group float-label">
                        <input class="mda-form-control" name="weight" tabindex="0" aria-invalid="false" />
                        <label>Weight</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>