@use 'src/app/shared/styles/app/variables.scss';

#log-header:hover, #log-header:active, #log-header:focus {
    color: #fff !important;
}

#exercise-btns button {
    background-color: white;
    color: variables.$info;
}

#add-exercise-label {
    color: white;
}

.nav-item a.nav-link {
    transition: transform 0.3s ease; /* Smooth transition */
}

.nav-item a.nav-link:hover {
    color: #FFFFFF;
    transform: translateY(-3px); /* Raise the icon slightly */
}
