@import 'src/app/shared/styles/app/variables.scss';

/*#mobile-log-type {
    margin-left: 15em;
}*/

#log-header:hover, #log-header:active, #log-header:focus {
    color: #fff !important;
}

#exercise-btns button {
    background-color: white;
    color: $info;
}

#add-exercise-label {
    color: white;
}