<h1 mat-dialog-title>{{ 'log-entry.ExerciseDuration' | translate }}</h1>
<div mat-dialog-content>{{ 'log-entry.DurationDialogDescription' | translate }}:</div>
<div mat-dialog-actions>
    <timepicker [ngModel]="durationValue" aria-invalid="false" [showMeridian]="false" [showSpinners]="true" [showSeconds]="true" [hoursPlaceholder]="'hh'" [minutesPlaceholder]="'mm'" [secondsPlaceholder]="'ss'" (ngModelChange)="onDurationChange($event)"></timepicker>
</div>
<br>
<div class="row">
    <button mat-button (click)="dialogRef.close(currentCardioExercise)">{{ 'global.OkLabel' | translate }}</button>
</div>