.btn-transparent {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
}

.text-danger {
    font-size: 12px;
    color: #ff6358;
}

.div-inherit {
    display: inherit;
}

@media only screen and (min-width: 1200px) {
    .div-inherit {
        margin-left: 50px;
    }
}