<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" sidebar-anyclick-close="" [class.show-scrollbar]="settings.getLayoutSetting('asideScrollbar')">

        <!-- START sidebar nav-->
        <ul class="sidebar-nav">

            <!-- START user info-->
            <!-- <li class="has-user-block">
                <app-userblock></app-userblock>
            </li> -->
            <!-- END user info-->

            @for (item of menuItems; track item.link || item.elink || item.translate || item.text) {
            <li [ngClass]="{'nav-heading': item.heading}" [routerLinkActive]="['active']">
                <!-- menu heading -->
                @if (item.heading) {
                <span>{{(item.translate | translate) || item.text}}</span>
                }
                <!-- external links -->
                @if (!item.heading && !item.submenu && item.elink) {
                <a href mat-ripple [attr.target]="item.target" [attr.href]="item.elink">
                    @if (item.alert) {
                    <span class="float-right" [ngClass]="item.label || 'badge badge-success'">{{item.alert}}</span>
                    }
                    @if (item.icon) {
                    <em class="{{item.icon}}"></em>
                    }
                    <span>{{(item.translate | translate) || item.text}}</span>
                </a>
                }
                <!-- single menu item -->
                @if (!item.heading && !item.submenu && !item.elink) {
                <a href mat-ripple [routerLink]="item.link" [attr.route]="item.link"
                    (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                    @if (item.alert) {
                    <span class="float-right" [ngClass]="item.label || 'badge badge-success'">{{item.alert}}</span>
                    }
                    @if (item.icon) {
                    <em class="{{item.icon}}"></em>
                    }
                    <span>{{(item.translate | translate) || item.text}}</span>
                </a>
                }
                <!-- has submenu -->
                @if (!item.heading && item.submenu) {
                <a href mat-ripple
                    (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                        @if (item.alert) {
                        <span class="float-right" [ngClass]="item.label || 'badge badge-success'">{{item.alert}}</span>
                        }
                        @if (item.icon) {
                        <em class="{{item.icon}}"></em>
                        }
                        <span>{{(item.translate | translate) || item.text}}</span>
                </a>
                }
                <!-- SUBLEVEL -->
                @if (item.submenu) {
                <ul class="sidebar-nav sidebar-subnav" [routerLinkActive]="['opening']">
                    <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
                    @for (subitem of item.submenu; track subitem.link || subitem.elink || subitem.translate || subitem.text) {
                    <li [routerLinkActive]="['active']">
                        <!-- sublevel: external links -->
                        @if (!subitem.heading && !subitem.submenu && subitem.elink) {
                        <a href mat-ripple [attr.target]="subitem.target" [attr.href]="subitem.elink" title="{{subitem.text}}">
                            @if (subitem.alert) {
                            <span class="float-right" [ngClass]="subitem.label || 'badge badge-success'">{{subitem.alert}}</span>
                            }
                            @if (subitem.icon) {
                            <em class="{{subitem.icon}}"></em>
                            }
                            <span>{{(subitem.translate | translate) || subitem.text}}</span>
                        </a>
                        }
                        <!-- sublevel: single menu item  -->
                        @if (!subitem.submenu && !subitem.elink) {
                        <a href mat-ripple [routerLink]="subitem.link" [attr.route]="subitem.link" title="{{subitem.text}}">
                            @if (subitem.alert) {
                            <span class="float-right" [ngClass]="subitem.label || 'badge badge-success'">{{subitem.alert}}</span>
                            }
                            @if (subitem.icon) {
                            <em class="{{subitem.icon}}"></em>
                            }
                            <span>{{(subitem.translate | translate) || subitem.text}}</span>
                        </a>
                        }
                        <!-- sublevel: has submenu -->
                        @if (subitem.submenu) {
                        <a href mat-ripple title="{{subitem.text}}"
                            (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                                @if (subitem.alert) {
                                <span class="float-right" [ngClass]="subitem.label || 'badge badge-success'">{{subitem.alert}}</span>
                                }
                                @if (subitem.icon) {
                                <em class="{{subitem.icon}}"></em>
                                }
                                <span>{{(subitem.translate | translate) || subitem.text}}</span>
                        </a>
                        }
                        <!-- SUBLEVEL 2 -->
                        @if (subitem.submenu) {
                        <ul class="sidebar-nav sidebar-subnav level2" [routerLinkActive]="['opening']">
                            @for (subitem2 of subitem.submenu; track subitem2.link || subitem2.elink || subitem2.translate || subitem2.text) {
                            <li [routerLinkActive]="['active']">
                                <!-- sublevel 2: single menu item  -->
                                @if (!subitem2.submenu) {
                                <a href mat-ripple [routerLink]="subitem2.link" [attr.route]="subitem2.link" title="{{subitem2.text}}">
                                    @if (subitem2.alert) {
                                    <span class="float-right" [ngClass]="subitem2.label || 'badge badge-success'">{{subitem2.alert}}</span>
                                    }
                                    @if (subitem2.icon) {
                                    <em class="{{subitem2.icon}}"></em>
                                    }
                                    <span>{{(subitem2.translate | translate) || subitem2.text}}</span>
                                </a>
                                }
                                <!-- sublevel2: has submenu -->
                                @if (subitem2.submenu) {
                                <a href mat-ripple title="{{subitem2.text}}"
                                    (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                                        @if (subitem2.alert) {
                                        <span class="float-right" [ngClass]="subitem2.label || 'badge badge-success'">{{subitem2.alert}}</span>
                                        }
                                        @if (subitem2.icon) {
                                        <em class="{{subitem2.icon}}"></em>
                                        }
                                        <span>{{(subitem2.translate | translate) || subitem2.text}}</span>
                                </a>
                                }
                                <!-- SUBLEVEL 3 -->
                                @if (subitem2.submenu) {
                                <ul class="sidebar-nav sidebar-subnav level3" [routerLinkActive]="['opening']">
                                    @for (subitem3 of subitem2.submenu; track subitem3.link || subitem3.elink || subitem3.translate || subitem3.text) {
                                    <li [routerLinkActive]="['active']">
                                        <!-- sublevel 2: single menu item  -->
                                        @if (!subitem3.submenu) {
                                        <a href mat-ripple [routerLink]="subitem3.link" [attr.route]="subitem3.link" title="{{subitem3.text}}">
                                            @if (subitem3.alert) {
                                            <span class="float-right" [ngClass]="subitem3.label || 'badge badge-success'">{{subitem3.alert}}</span>
                                            }
                                            @if (subitem3.icon) {
                                            <em class="{{subitem3.icon}}"></em>
                                            }
                                            <span>{{(subitem3.translate | translate) || subitem3.text}}</span>
                                        </a>
                                        }
                                        <!-- sublevel3: has submenu -->
                                        @if (subitem3.submenu) {
                                        <a href mat-ripple title="{{subitem3.text}}"
                                            (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)">
                                                @if (subitem3.alert) {
                                                <span class="float-right" [ngClass]="subitem3.label || 'badge badge-success'">{{subitem3.alert}}</span>
                                                }
                                                @if (subitem3.icon) {
                                                <em class="{{subitem3.icon}}"></em>
                                                }
                                                <span>{{(subitem3.translate | translate) || subitem3.text}}</span>
                                        </a>
                                        }
                                        <!-- SUBLEVEL 4 -->
                                        @if (subitem3.submenu) {
                                        <ul class="sidebar-nav sidebar-subnav level3" [routerLinkActive]="['opening']">
                                            @for (subitem4 of subitem3.submenu; track subitem4.link || subitem4.elink || subitem4.translate || subitem4.text) {
                                            <li [routerLinkActive]="['active']">
                                                <!-- sublevel 2: single menu item  -->
                                                @if (!subitem4.submenu) {
                                                <a href mat-ripple [routerLink]="subitem4.link" [attr.route]="subitem4.link" title="{{subitem4.text}}">
                                                    @if (subitem4.alert) {
                                                    <span class="float-right" [ngClass]="subitem4.label || 'badge badge-success'">{{subitem4.alert}}</span>
                                                    }
                                                    @if (subitem4.icon) {
                                                    <em class="{{subitem4.icon}}"></em>
                                                    }
                                                    <span>{{(subitem4.translate | translate) || subitem4.text}}</span>
                                                </a>
                                                }
                                            </li>
                                            }
                                        </ul>
                                        }
                                    </li>
                                    }
                                </ul>
                                }
                            </li>
                            }
                        </ul>
                        }
                    </li>
                    }
                </ul>
                }
            </li>
            }

        </ul>
        <!-- END sidebar nav-->

        <ul class="sidebar-nav sidebar-account-nav">
            <li class="nav-heading">{{ 'global.Account' | translate }}</li>
            @if (!signedIn) {
            <li>
                <button class="nav-item" type="button" (click)="openSignIn()">
                    <em class="icon-login" aria-hidden="true"></em>
                    <span>{{ 'global.SignInOrRegister' | translate }}</span>
                </button>
            </li>
            }
            @if (signedIn) {
            <li>
                <button class="nav-item" type="button" (click)="signOut()">
                    <em class="icon-logout" aria-hidden="true"></em>
                    <span>{{ 'global.LogOut' | translate }}</span>
                </button>
            </li>
            }
        </ul>

    </nav>
</div>
<!-- END Sidebar (left)-->
