<div [formGroup]="simpleLogForm">
    <!-- START Add Exercise Heading START -->
    <div class="content-heading" [class.content-heading-sb-is-collapsed]="sbIsCollapsed">
        <div class="mda-form-group float-label first-fg">
            <input class="mda-form-control" name="title" formControlName="title" tabindex="0" aria-invalid="false"
                (blur)="checkForTitleValue()" />
            <label>{{ 'log-entry.WorkoutTitle' | translate }}</label>
            <mat-error class="text-danger"
                *ngIf="simpleLogForm.get('title').hasError('maxlength') && (simpleLogForm.get('title').dirty || simpleLogForm.get('title').touched)">{{
                'global.CharacterLimit' | translate }} {{ titleCharLimit }}</mat-error>
        </div>
        <div class="right-content">
            <div>{{ 'log-entry.AddExercise' | translate }}</div>
            <div id="exercise-btns">
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="openExerciseDialog()">+ <em
                        class="fa fa-dumbbell"></em></button>
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="openCardioExerciseDialog()">+ <em
                        class="fa fa-running"></em></button>
            </div>
        </div>
    </div>
    <!-- END Add Exercise Heading END -->
    <div class="container-lg">
        <!-- START Exercise Grid START -->
        <table mat-table *ngIf="currentLog.exercises.length > 0" [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="exerciseName">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseName' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.exerciseName }} </td>
            </ng-container>
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseWeight' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.weight }} </td>
            </ng-container>
            <ng-container matColumnDef="sets">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseSets' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.sets }} </td>
            </ng-container>
            <ng-container matColumnDef="reps">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseReps' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.reps }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- END Exercise Grid END -->
        <!-- START Cardio Exercise Grid START -->
        <table mat-table *ngIf="currentLog.cardioExercises.length > 0" [dataSource]="cDataSource"
            class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="exerciseName">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseName' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.exerciseName }} </td>
            </ng-container>
            <ng-container matColumnDef="distance">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseDistance' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.distance }} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseDuration' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"><div *ngIf="exercise.duration.asMilliseconds() > 0"> {{ exercise.duration | formatDuration }} </div></td>
            </ng-container>
            <ng-container matColumnDef="intensity">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseIntensity' | translate }} </th>
                <td mat-cell *matCellDef="let exercise"> {{ exercise.intensity | formatIntensity }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="cardioColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: cardioColumns;"></tr>
        </table>
        <!-- END Cardio Exercise Grid END -->
        <!-- START Submit Buttons START -->
        <div *ngIf="currentLog.exercises.length > 0 || currentLog.cardioExercises.length > 0" class="row">
            <div class="col-md-12 text-right">
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="submit('save')">{{
                    'log-entry.SaveAsPDF' | translate }}</button>
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="submit('email')">{{
                    'log-entry.EmailAsPDF' | translate }}</button>
            </div>
        </div>
        <!-- END Submit Buttons END -->
    </div> <!-- END Content Body END -->
</div> <!-- END Form Group END -->
<!-- START Exercise PDF Table START -->
<div id="exerciseTable" #exerciseTable>
    <h1 *ngIf="currentLog.exercises.length > 0 || currentLog.cardioExercises.length > 0">{{ 'global.LogYourWorkout' |
        translate }} - {{ currentLog.startDatim | date: 'MM/dd/yyyy h:mm a' }}</h1>
    <h2 *ngIf="currentLog.exercises.length > 0 && currentLog.title">{{ currentLog.title }}</h2>
    <h2 *ngIf="currentLog.exercises.length > 0">{{ 'global.ExercisesTitle' | translate }}</h2>
    <table *ngIf="currentLog.exercises.length > 0">
        <tr>
            <th>{{ 'log-entry.ExerciseName' | translate }}</th>
            <th>{{ 'log-entry.ExerciseSets' | translate }}</th>
            <th>{{ 'log-entry.ExerciseReps' | translate }}</th>
            <th>{{ 'log-entry.ExerciseWeight' | translate }}</th>
        </tr>
        <tr *ngFor="let exercise of currentLog.exercises">
            <td>{{ exercise.exerciseName }}</td>
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.weight }}</td>
        </tr>
    </table>
    <h2 *ngIf="currentLog.cardioExercises.length > 0">{{ 'global.CardioExercisesTitle' | translate }}</h2>
    <table *ngIf="currentLog.cardioExercises.length > 0">
        <tr>
            <th>{{ 'log-entry.ExerciseName' | translate }}</th>
            <th>{{ 'log-entry.ExerciseDistance' | translate }}</th>
            <th>{{ 'log-entry.ExerciseDuration' | translate }}</th>
            <th>{{ 'log-entry.ExerciseIntensity' | translate }}</th>
        </tr>
        <tr *ngFor="let exercise of currentLog.cardioExercises">
            <td>{{ exercise.exerciseName }}</td>
            <td *ngIf="exercise.distance">{{ exercise.distance }}</td>
            <td *ngIf="!exercise.distance">N/A</td>
            <td *ngIf="exercise.duration.asMilliseconds() > 0">{{ exercise.duration | formatDuration }}</td>
            <td *ngIf="exercise.duration.asMilliseconds() === 0">N/A</td>
            <td *ngIf="exercise.intensity">{{ exercise.intensity | formatIntensity }}</td>
            <td *ngIf="!exercise.intensity">N/A</td>
        </tr>
    </table>
</div>
<!-- END Exercise PDF Table END -->