@import '../../../shared/styles/common.scss';
@import '../../../shared/styles/app/variables.scss';

.content-heading {
    position: fixed;
    top: 70px;
    left: 240px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.content-heading-sb-is-collapsed {
    left: 90px;
}

.content-heading .mda-form-group {
    padding: 18px 0 0 0;

    .mda-form-control {
        border: none;
    }
}

.right-content {
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    /* Centers items vertically */
    flex-direction: column;
}

.container-lg {
    margin-top: 145px;
}

input.mda-form-control[name="title"] {
    width: 15em;
}

#exercise-btns {
    margin-left: 2em;
    margin-right: 2em;
}

.container {
    padding-top: 15px;
}

.first-fg {
    margin-left: 10px;
}

.btn-row-close {
    float: right;
}

.btn-row-close:focus,
.btn-row-close:active {
    color: $danger;
}

.fa-window-close {
    margin-right: 15px;
    margin-top: 25px;
    font-size: 25px;
}

.fa-window-close:hover,
.fa-window-close:focus,
.fa-window-close:active {
    color: $danger
}

.first-col-cv,
.second-col-cv {
    margin-top: 1em;
}

.duration-label {
    font-size: 12px;
    margin-bottom: 0;
}

.duration-display-label {
    display: block;
}

mat-form-field {
    display: block;
}

table {
    width: 100%;
    margin-bottom: 2em;
}

#exerciseTable {
    display: none;
}

#submit-btn {
    margin: 0 auto;
}

.control-icons {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: large;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.add-icon {
    background-color: $primary;
    color: white;
}

.remove-icon {
    background-color: $danger;
    color: white;
}

/* tablets */
@media (min-width: 769px) and (max-width: 1200px) {
    .container-lg {
        margin-top: 165px;
    }
}

/* phones */
@media only screen and (max-width: 768px) {
    .content-heading {
        font-size: 20px;
        left: 0;
        width: 100%;

        button {
            width: 100%;
        }
    }

    .container-lg {
        margin-top: 185px;
    }

    .right-content {
        margin-top: 1em;
    }

    #exercise-btns {
        margin-left: 0;
        margin-right: 0;
    }

    input.mda-form-control[name="title"] {
        width: 7em;
    }
}