<div [formGroup]="simpleLogForm">
    <!-- START Content Body START -->
    <div class="container-lg">
        <div *ngIf="isImportedWorkout" class="imported-log-toolbar">
            <div class="imported-log-toolbar__left">
                <button class="btn btn-outline-primary" type="button" (click)="navigateBackToWeek()">
                    <em class="fa fa-arrow-left"></em>
                    Back to {{ importedWeek?.name }}
                </button>
            </div>
            <div class="imported-log-toolbar__timer">
                <div class="imported-log-toolbar__timer-main">
                    <button *ngIf="!workoutStartedAt" class="btn btn-primary btn-sm" type="button" (click)="startWorkout()">
                        Start Workout
                    </button>
                    <button *ngIf="workoutStartedAt && !workoutPausedAt && !workoutCompletedAt" class="btn btn-danger btn-sm" type="button" (click)="pauseWorkout()">
                        Pause
                    </button>
                    <button *ngIf="workoutPausedAt && !workoutCompletedAt" class="btn btn-success btn-sm" type="button" (click)="resumeWorkout()">
                        Resume
                    </button>
                    <span *ngIf="workoutPausedAt && !workoutCompletedAt" class="imported-log-toolbar__paused-pill">
                        Paused
                    </span>
                    <span>Elapsed Time</span>
                    <strong>{{ getElapsedTimeLabel() }}</strong>
                </div>
                <small *ngIf="workoutCompletedAt" class="imported-log-toolbar__status">
                    Completed {{ workoutCompletedAt | date:'MM/dd/yyyy h:mm a' }}
                </small>
            </div>
        </div>
        <!-- START Exercise Grid START -->
        <div *ngIf="currentLog.exercises.length > 0" class="log-mobile-list log-mobile-list--strength">
            <div *ngFor="let exercise of currentLog.exercises; let i = index"
                class="log-mobile-card"
                [class.completed-row]="exercise.completed"
                (click)="onExerciseRowClick(exercise)">
                <div class="log-mobile-card__header">
                    <div>
                        <span class="log-mobile-card__eyebrow">Exercise</span>
                        <strong [class.completed-exercise]="exercise.completed">
                            {{ currentLog.exercises | duplicateName:exercise:i }}
                        </strong>
                    </div>
                    <mat-checkbox *ngIf="isImportedWorkout"
                        [checked]="exercise.completed"
                        aria-label="Complete exercise"
                        (click)="$event.stopPropagation()"
                        (change)="toggleExerciseComplete(exercise)"></mat-checkbox>
                </div>
                <div class="log-mobile-card__metrics">
                    <div>
                        <span>Weight</span>
                        <strong>{{ getWeightDisplay(exercise) }}</strong>
                    </div>
                    <div>
                        <span>Reps</span>
                        <strong>{{ exercise.reps }}</strong>
                    </div>
                    <div>
                        <span>Sets</span>
                        <strong>{{ exercise.sets }}</strong>
                    </div>
                </div>
                <div *ngIf="isImportedWorkout && exercise.prescription" class="log-mobile-card__prescription">
                    <span>Prescription</span>
                    <strong>{{ exercise.prescription }}</strong>
                </div>
                <div class="log-mobile-card__actions" (click)="$event.stopPropagation()">
                    <button type="button" class="icon edit-icon" aria-label="Edit exercise" (click)="editRow(exercise)">
                        <em class="fa fa-pen"></em>
                    </button>
                    <button type="button" class="icon add-icon" aria-label="Add another set" (click)="addRow(exercise)">+</button>
                    <button type="button" class="icon remove-icon" aria-label="Remove exercise" (click)="removeRow(exercise)">-</button>
                </div>
            </div>
        </div>
        <table mat-table *ngIf="currentLog.exercises.length > 0" [dataSource]="currentLog.exercises" class="log-table log-table--strength">
            <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let exercise" data-label="Complete" class="log-table__complete-cell">
                    <mat-checkbox [checked]="exercise.completed"
                        (click)="$event.stopPropagation()"
                        (change)="toggleExerciseComplete(exercise)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="exerciseName">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseName' | translate }} </th>
                <td mat-cell *matCellDef="let exercise; let i = index" data-label="Exercise" class="log-table__exercise-cell" [class.completed-exercise]="exercise.completed">
                    {{ currentLog.exercises | duplicateName:exercise:i }}
                </td>
            </ng-container>
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseWeight' | translate }} </th>
                <td mat-cell *matCellDef="let exercise" data-label="Weight"> {{ getWeightDisplay(exercise) }} </td>
            </ng-container>
            <ng-container matColumnDef="reps">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseReps' | translate }} </th>
                <td mat-cell *matCellDef="let exercise" data-label="Reps"> {{ exercise.reps }} </td>
            </ng-container>
            <ng-container matColumnDef="sets">
                <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseSets' | translate }} </th>
                <td mat-cell *matCellDef="let exercise" data-label="Sets"> {{ exercise.sets }} </td>
            </ng-container>
            <ng-container matColumnDef="prescription">
                <th mat-header-cell *matHeaderCellDef> Prescription </th>
                <td mat-cell *matCellDef="let exercise" data-label="Prescription"> {{ exercise.prescription }} </td>
            </ng-container>
            <ng-container matColumnDef="controls">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let exercise" data-label="Actions" class="log-table__actions-cell">
                    <div class="control-icons">
                        <button type="button" class="icon edit-icon" aria-label="Edit exercise" (click)="$event.stopPropagation(); editRow(exercise)">
                            <em class="fa fa-pen"></em>
                        </button>
                        <button type="button" class="icon add-icon" aria-label="Add another set" (click)="$event.stopPropagation(); addRow(exercise)">+</button>
                        <button type="button" class="icon remove-icon" aria-label="Remove exercise" (click)="$event.stopPropagation(); removeRow(exercise)">-</button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"
                [class.completed-row]="row.completed"
                (click)="onExerciseRowClick(row)"></tr>
        </table>
        <!-- END Exercise Grid END -->
        <!-- START Cardio Exercise Grid START -->
        <div *ngIf="currentLog.cardioExercises.length > 0" class="log-mobile-list log-mobile-list--cardio">
            <div *ngFor="let exercise of currentLog.cardioExercises" class="log-mobile-card">
                <div class="log-mobile-card__header">
                    <div>
                        <span class="log-mobile-card__eyebrow">Cardio</span>
                        <strong>{{ exercise.exerciseName }}</strong>
                    </div>
                </div>
                <div class="log-mobile-card__metrics">
                    <div>
                        <span>Distance</span>
                        <strong>{{ exercise.distance }} {{ distanceMeasure }}</strong>
                    </div>
                    <div>
                        <span>Duration</span>
                        <strong>
                            <span *ngIf="exercise.duration.asMilliseconds() > 0">{{ exercise.duration | formatDuration }}</span>
                            <span *ngIf="exercise.duration.asMilliseconds() === 0">N/A</span>
                        </strong>
                    </div>
                    <div>
                        <span>Intensity</span>
                        <strong>{{ exercise.intensity | formatIntensity }}</strong>
                    </div>
                </div>
                <div class="log-mobile-card__actions">
                    <button type="button" class="icon add-icon" aria-label="Add another cardio entry" (click)="addRow(exercise)">+</button>
                    <button type="button" class="icon remove-icon" aria-label="Remove cardio exercise" (click)="removeRow(exercise)">-</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table *ngIf="currentLog.cardioExercises.length > 0" [dataSource]="currentLog.cardioExercises"
                class="log-table log-table--cardio">
                <ng-container matColumnDef="exerciseName">
                    <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseName' | translate }} </th>
                    <td mat-cell *matCellDef="let exercise" data-label="Exercise" class="log-table__exercise-cell"> {{ exercise.exerciseName }} </td>
                </ng-container>
                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseDistance' | translate }} </th>
                    <td mat-cell *matCellDef="let exercise" data-label="Distance"> {{ exercise.distance }} {{ distanceMeasure }}  </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseDuration' | translate }} </th>
                    <td mat-cell *matCellDef="let exercise" data-label="Duration">
                        <div *ngIf="exercise.duration.asMilliseconds() > 0"> {{ exercise.duration | formatDuration }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="intensity">
                    <th mat-header-cell *matHeaderCellDef> {{ 'log-entry.ExerciseIntensity' | translate }} </th>
                    <td mat-cell *matCellDef="let exercise" data-label="Intensity"> {{ exercise.intensity | formatIntensity }} </td>
                </ng-container>
                <ng-container matColumnDef="controls">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let exercise" data-label="Actions" class="log-table__actions-cell">
                        <div class="control-icons">
                            <button type="button" class="icon add-icon" aria-label="Add another cardio entry" (click)="addRow(exercise)">+</button>
                            <button type="button" class="icon remove-icon" aria-label="Remove cardio exercise" (click)="removeRow(exercise)">-</button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cardioColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: cardioColumns;"></tr>
            </table>
        </div>
        <!-- END Cardio Exercise Grid END -->
        <div *ngIf="isImportedWorkout" class="imported-log-actions">
            <button *ngIf="!workoutCompletedAt" class="btn btn-primary" type="button" (click)="markWorkoutComplete()">
                Mark as Complete
            </button>
            <button *ngIf="workoutCompletedAt" class="btn btn-danger" type="button" (click)="markWorkoutIncomplete()">
                Mark as Incomplete
            </button>
            <button *ngIf="!workoutCompletedAt" class="btn btn-outline-secondary" type="button" (click)="unselectAllExercises()">
                Unselect All
            </button>
            <button *ngIf="!workoutPausedAt && !workoutCompletedAt" class="btn btn-danger" type="button" (click)="pauseWorkout()">
                Pause Workout
            </button>
            <button *ngIf="workoutPausedAt" class="btn btn-success" type="button" (click)="resumeWorkout()">
                Resume Workout
            </button>
        </div>
        <!-- START Submit Buttons START -->
        <div *ngIf="currentLog.exercises.length > 0 || currentLog.cardioExercises.length > 0" class="row">
            <div class="col-md-12 text-right">
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="submit('save')">{{
                    'log-entry.SaveAsPDF' | translate }}</button>
                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)="submit('email')">{{
                    'log-entry.EmailAsPDF' | translate }}</button>
            </div>
        </div>
        <!-- END Submit Buttons END -->
    </div> <!-- END Content Body END -->
</div> <!-- END Form Group END -->
<!-- START Exercise PDF Table START -->
<div id="exerciseTable" #exerciseTable>
    <h1 *ngIf="currentLog.exercises.length > 0 || currentLog.cardioExercises.length > 0">{{ currentLog.title |
        translate }} - {{ currentLog.startDatim | date: 'MM/dd/yyyy h:mm a' }}</h1>
    <h2 *ngIf="currentLog.exercises.length > 0">{{ 'global.ExercisesTitle' | translate }}</h2>
    <table *ngIf="currentLog.exercises.length > 0">
        <tr>
            <th>{{ 'log-entry.ExerciseName' | translate }}</th>
            <th>{{ 'log-entry.ExerciseWeight' | translate }}</th>
            <th>{{ 'log-entry.ExerciseReps' | translate }}</th>
            <th>{{ 'log-entry.ExerciseSets' | translate }}</th>
        </tr>
        <tr *ngFor="let exercise of currentLog.exercises; let i = index">
            <td>{{ currentLog.exercises | duplicateName:exercise:i }}</td>
            <td>{{ getWeightDisplay(exercise) }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.sets }}</td>
        </tr>
    </table>
    <h2 *ngIf="currentLog.cardioExercises.length > 0">{{ 'global.CardioExercisesTitle' | translate }}</h2>
    <table *ngIf="currentLog.cardioExercises.length > 0">
        <tr>
            <th>{{ 'log-entry.ExerciseName' | translate }}</th>
            <th>{{ 'log-entry.ExerciseDistance' | translate }}</th>
            <th>{{ 'log-entry.ExerciseDuration' | translate }}</th>
            <th>{{ 'log-entry.ExerciseIntensity' | translate }}</th>
        </tr>
        <tr *ngFor="let exercise of currentLog.cardioExercises">
            <td>{{ exercise.exerciseName }}</td>
            <td *ngIf="exercise.distance">{{ exercise.distance }}</td>
            <td *ngIf="!exercise.distance">N/A</td>
            <td *ngIf="exercise.duration.asMilliseconds() > 0">{{ exercise.duration | formatDuration }}</td>
            <td *ngIf="exercise.duration.asMilliseconds() === 0">N/A</td>
            <td *ngIf="exercise.intensity">{{ exercise.intensity | formatIntensity }}</td>
            <td *ngIf="!exercise.intensity">N/A</td>
        </tr>
    </table>
</div>
<!-- END Exercise PDF Table END -->
