<h1 mat-dialog-title>{{ 'log-entry.AddExercise' | translate }}</h1>
<div [formGroup]="exerciseLogForm" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="mda-form-group float-label first-fg">
                <input class="mda-form-control" name="exerciseName" formControlName="exerciseName" tabindex="0"
                    aria-invalid="false" />
                <label>{{ 'log-entry.ExerciseName' | translate }}</label>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('exerciseName').hasError('required') && (exerciseLogForm.get('exerciseName').dirty || exerciseLogForm.get('exerciseName').touched)">{{
                    'global.Required' | translate }}</mat-error>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('exerciseName').hasError('maxlength') && (exerciseLogForm.get('exerciseName').dirty || exerciseLogForm.get('exerciseName').touched)">{{
                    'global.CharacterLimit' | translate }} {{ exerciseNameCharLimit }}</mat-error>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <input class="mda-form-control" name="sets" formControlName="sets" tabindex="0" aria-invalid="false" />
                <label>{{ 'log-entry.ExerciseSets' | translate }}</label>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('sets').hasError('pattern') && (exerciseLogForm.get('sets').dirty || exerciseLogForm.get('sets').touched)">{{
                    'global.NumericOnly' | translate }}</mat-error>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('sets').hasError('maxlength') && (exerciseLogForm.get('sets').dirty || exerciseLogForm.get('sets').touched)">{{
                    'global.CharacterLimit' | translate }} {{ exerciseNumericCharLimit }}</mat-error>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <input class="mda-form-control" name="reps" formControlName="reps" tabindex="0" aria-invalid="false" />
                <label>{{ 'log-entry.ExerciseReps' | translate }}</label>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('reps').hasError('pattern') && (exerciseLogForm.get('reps').dirty || exerciseLogForm.get('reps').touched)">{{
                    'global.NumericOnly' | translate }}</mat-error>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('reps').hasError('maxlength') && (exerciseLogForm.get('reps').dirty || exerciseLogForm.get('reps').touched)">{{
                    'global.CharacterLimit' | translate }} {{ exerciseNumericCharLimit }}</mat-error>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <input class="mda-form-control" name="weight" formControlName="weight" tabindex="0"
                    aria-invalid="false" />
                <label>{{ 'log-entry.ExerciseWeight' | translate }}</label>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('weight').hasError('maxlength') && (exerciseLogForm.get('weight').dirty || exerciseLogForm.get('weight').touched)">{{
                    'global.CharacterLimit' | translate }} {{ exerciseAlphaNumericCharLimit }}</mat-error>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group float-label">
                <input class="mda-form-control" name="distance" formControlName="distance" tabindex="0"
                    aria-invalid="false" />
                <label>{{ 'log-entry.ExerciseDistance' | translate }}</label>
                <mat-error class="text-danger"
                    *ngIf="exerciseLogForm.get('distance').hasError('maxlength') && (exerciseLogForm.get('distance').dirty || exerciseLogForm.get('distance').touched)">{{
                    'global.CharacterLimit' | translate }} {{ exerciseAlphaNumericCharLimit }}</mat-error>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group">
                <!--<label class="duration-label">{{ 'log-entry.ExerciseDuration' | translate }}</label>-->
                <div class="duration-controls">
                    <button type="button" class="btn btn-primary duration-edit-button" (click)="openDurationDialog()">
                        <i class="far fa-clock"></i> +
                    </button>
                    <span class="duration-display" matTooltip="{{ 'log-entry.EditDuration' | translate }}"
                        matTooltipPosition="below" (click)="openDurationDialog()">
                        {{ currentExercise.duration?.hours() }}h {{ currentExercise.duration?.minutes() }}m
                        {{ currentExercise.duration?.seconds() }}s
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group pad-10">
                <mat-form-field>
                    <mat-select placeholder="{{ 'log-entry.ExerciseIntensity' | translate }}"
                        (selectionChange)="onIntensityChange($event)" formControlName="intensity">
                        <mat-option *ngFor="let intensity of intensities" [value]="intensity.value">
                            {{ intensity.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-4">
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" (click)="submitForm($event)">Add</button>
        </div>
    </div>
</div>