<div class="header-row">
    <h1 mat-dialog-title>{{ 'log-entry.AddExercise' | translate }}</h1>
    <div *ngIf="currentExercise.exerciseType === 'strength'" class="chip-set-container">
        <mat-chip-set aria-label="Measure selection">
            <mat-chip (click)="onChipClick('lbs')" [ngClass]="{'selected-chip': selectedWeightChip === 'lbs'}">lbs</mat-chip>
            <mat-chip (click)="onChipClick('kg')" [ngClass]="{'selected-chip': selectedWeightChip === 'kg'}">kgs</mat-chip>
        </mat-chip-set>
    </div>
    <div *ngIf="currentExercise.exerciseType === 'cardio'" class="chip-set-container">
        <mat-chip-set aria-label="Measure selection">
            <mat-chip (click)="onChipClick('km')" [ngClass]="{'selected-chip': selectedDistanceChip === 'km'}">kms</mat-chip>
            <mat-chip (click)="onChipClick('mi')" [ngClass]="{'selected-chip': selectedDistanceChip === 'mi'}">miles</mat-chip>
        </mat-chip-set>
    </div>    
</div>
<form [formGroup]="exerciseLogForm" class="container" (ngSubmit)="submitForm($event)" (keydown.enter)="onEnter($event)">
    <div class="row">
        <div class="col-md-3">
            <div class="mda-form-group float-label first-fg">
                <mat-form-field appearance="fill" class="mda-form-control" floatLabel="always">
                    <div *ngIf="currentExercise.exerciseType === 'strength'">
                        <input #strExerciseName type="text" matInput [matAutocomplete]="auto" name="exerciseName"
                            formControlName="exerciseName" tabindex="0">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let exerciseName of filteredExercises | async" [value]="exerciseName">
                                {{ exerciseName }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div *ngIf="currentExercise.exerciseType === 'cardio'">
                        <input #carExerciseName type="text" matInput [matAutocomplete]="auto" name="exerciseName"
                            formControlName="exerciseName" tabindex="0">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let exerciseName of filteredCardioExercises | async"
                                [value]="exerciseName">
                                {{ exerciseName }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <mat-label>{{ 'log-entry.ExerciseName' | translate }}</mat-label>
                    <mat-error class="text-danger"
                        *ngIf="exerciseLogForm.get('exerciseName').hasError('required') && (exerciseLogForm.get('exerciseName').dirty || exerciseLogForm.get('exerciseName').touched)">{{
                        'global.Required' | translate }}</mat-error>
                    <mat-error class="text-danger"
                        *ngIf="exerciseLogForm.get('exerciseName').hasError('maxlength') && (exerciseLogForm.get('exerciseName').dirty || exerciseLogForm.get('exerciseName').touched)">{{
                        'global.CharacterLimit' | translate }} {{ exerciseNameCharLimit }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <mat-form-field appearance="fill" class="mda-form-control">
                    <input #weight matInput name="weight" formControlName="weight" tabindex="0" aria-invalid="false" />
                    <mat-label>{{ 'log-entry.ExerciseWeight' | translate }}</mat-label>
                    <mat-error
                        *ngIf="exerciseLogForm.get('weight').hasError('maxlength') && (exerciseLogForm.get('weight').dirty || exerciseLogForm.get('weight').touched)">
                        {{ 'global.CharacterLimit' | translate }} {{ exerciseAlphaNumericCharLimit }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <mat-form-field appearance="fill" class="mda-form-control">
                    <input matInput name="reps" formControlName="reps" type="text" inputmode="text" tabindex="0"
                        aria-invalid="false">
                    <mat-label>{{ 'log-entry.ExerciseReps' | translate }}</mat-label>
                    <mat-error
                        *ngIf="exerciseLogForm.get('reps').hasError('pattern') && (exerciseLogForm.get('reps').dirty || exerciseLogForm.get('reps').touched)">
                        {{ 'global.NumericOnly' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="exerciseLogForm.get('reps').hasError('maxlength') && (exerciseLogForm.get('reps').dirty || exerciseLogForm.get('reps').touched)">
                        {{ 'global.CharacterLimit' | translate }} {{ exerciseNumericCharLimit }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'strength'" class="col-md-3">
            <div class="mda-form-group float-label">
                <mat-form-field appearance="fill" class="mda-form-control">
                    <input matInput name="sets" formControlName="sets" type="number" inputmode="numeric" tabindex="0"
                        aria-invalid="false">
                    <mat-label>{{ 'log-entry.ExerciseSets' | translate }}</mat-label>
                    <mat-error
                        *ngIf="exerciseLogForm.get('sets').hasError('pattern') && (exerciseLogForm.get('sets').dirty || exerciseLogForm.get('sets').touched)">
                        {{ 'global.NumericOnly' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="exerciseLogForm.get('sets').hasError('maxlength') && (exerciseLogForm.get('sets').dirty || exerciseLogForm.get('sets').touched)">
                        {{ 'global.CharacterLimit' | translate }} {{ exerciseNumericCharLimit }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group float-label">
                <mat-form-field appearance="fill" class="mda-form-control">
                    <input #distance matInput name="distance" formControlName="distance" tabindex="0"
                        aria-invalid="false">
                    <mat-label>{{ 'log-entry.ExerciseDistance' | translate }}</mat-label>
                    <mat-error
                        *ngIf="exerciseLogForm.get('distance').hasError('maxlength') && (exerciseLogForm.get('distance').dirty || exerciseLogForm.get('distance').touched)">
                        {{ 'global.CharacterLimit' | translate }} {{ exerciseAlphaNumericCharLimit }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group">
                <mat-form-field appearance="fill" class="mda-form-control">
                    <input matInput [value]="currentExercise.duration | formatDuration" readonly
                        (click)="openDurationDialog($event)">
                    <mat-label>{{ 'log-entry.ExerciseDuration' | translate }}</mat-label>
                    <button matSuffix mat-icon-button aria-label="Edit duration" (click)="openDurationDialog($event)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="currentExercise.exerciseType === 'cardio'" class="col-md-3">
            <div class="mda-form-group margin-top-10">
                <mat-form-field appearance="fill">
                    <mat-select placeholder="{{ 'log-entry.ExerciseIntensity' | translate }}"
                        (selectionChange)="onIntensityChange($event)" formControlName="intensity">
                        <mat-option *ngFor="let intensity of intensities" [value]="intensity.value">
                            {{ intensity.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-4">
        <div class="col-auto">
            <button mat-button type="button" color="secondary" (click)="onCancel()">{{ 'global.CancelLabel' | translate
                }}</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button type="submit" color="primary">{{ 'log-entry.AddExercise' | translate }}</button>
        </div>
    </div>
</form>