@import 'src/app/shared/styles/common';
@import 'src/app/shared/styles/app/variables.scss';

/* General Form Group Styling */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chip-set-container {
    display: flex;
    padding-right: 16px;
}

.mda-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* Re-enabled margin for better spacing */
}

.mda-form-control {
    margin-top: 8px;
    margin-bottom: 4px;
    display: block;
}

.mda-form-group .mat-form-field {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 4px;
}

/* Handling Flex Children Overflow */
.mda-form-group .mat-form-field-wrapper {
    margin-top: 4px;
}

/* Label Color and Transition for Focus */
.float-label label {
    color: #666;
    transition: all 0.3s ease;
}

.float-label input:focus+label {
    color: #0056b3;
    font-size: 0.85rem;
}

/* Button Styling */
.btn {
    padding: 0.375rem 0.75rem;
    margin: 0.375rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Duration Control Flexbox Styling */
.duration-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.duration-edit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 16px;
}

.duration-display {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Padding Adjustment for Button Group */
.pr-2 {
    padding-right: 8px;
}

/* Ensure Consistent Vertical Spacing and Height for Buttons */
button[mat-button],
button[mat-raised-button],
button[mat-stroked-button] {
    background-color: $primary;
    min-height: 36px;
    line-height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Enhanced Focus States for Accessibility */
button[mat-button]:focus,
button[mat-raised-button]:focus,
button[mat-stroked-button]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
}

button[mat-button][color="secondary"] {
    background-color: $danger;
    color: white;

    &:hover {
        background-color: darken($danger, 10%);
    }
}

/* Container Overflow Handling */
.container {
    height: 225px;
}

.mdc-dialog__surface {
    overflow-y: hidden !important;
}

::ng-deep .selected-chip {
    background-color: #3F51B5 !important;
    span {
        color: white !important;
    }
}

@media only screen and (max-width: 823px) {

    /* phones */
    .container {
        height: 550px;
    }
}